@model VolleyballLeagueManagement.Management.Contracts.ViewModels.LeaguePreviewViewModel

<div>
    <h4>Informacje o wybranej lidze</h4>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayName("Nazwa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Miasto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("Ilość drużyn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedTeams)
        </dd>

        <dt>
            @Html.DisplayName("Limit drużyn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamsLimit)
        </dd>

        <dt>
            @Html.DisplayName("Termin zapisów")
        </dt>

        <dd>
            @Model.ApplicationDeadline.ToString("D")
        </dd>

        <dt>
            @Html.DisplayName("Data startu")
        </dt>

        <dd>
            @Model.StartTime.ToString("D")
        </dd>

        <dt>
            @Html.DisplayName("Dzień rozgrywek")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Regulamin", "Regulations", new { leagueId = Model.LeagueId }) |
    @Html.ActionLink("Drużyny", "Teams", new { leagueId = Model.LeagueId }) |
    @Html.ActionLink("Tabela", "Table", "League", new { leagueId = Model.LeagueId }, null) |
    @Html.ActionLink("Terminarz", "Calendar", "League", new { leagueId = Model.LeagueId }, null) 
</p>
