@model IEnumerable<VolleyballLeagueManagement.Management.Contracts.ViewModels.LeaguePreviewViewModel>

@if (!Model.Any())
{
    <h4> Nie znaleziono żadnej ligi </h4>
}
else
{
    <h4> Dostępne ligi </h4>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nazwa")
            </th>
            <th>
                @Html.DisplayName("Miasto")
            </th>
            <th>
                @Html.DisplayName("Ilość zapisanych drużyn")
            </th>
            <th>
                @Html.DisplayName("Limit drużyn")
            </th>
            <th>
                @Html.DisplayName("Termin zgłoszeń")
            </th>
            <th>
                @Html.DisplayName("Data rozpoczęcia")
            </th>
            <th>
                @Html.DisplayName("Dzień rozgrywania meczy")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedTeams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamsLimit)
                </td>
                <td>
                    @item.ApplicationDeadline.ToString("M")
                </td>
                <td>
                    @item.StartTime.ToString("M")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td style="width: 270px">
                    @Html.ActionLink("Przegląd", "League", new {leagueId = item.LeagueId}) |
                    @Html.ActionLink("Drużyny", "Teams", new {leagueId = item.LeagueId}) |
                    @Html.ActionLink("Tabela", "Table", "League", new {leagueId = item.LeagueId}, null) |
                    @Html.ActionLink("Terminarz", "Calendar", "League", new {leagueId = item.LeagueId}, null)
                </td>
            </tr>
        }

    </table>
}
