@model IEnumerable<VolleyballLeagueManagement.Management.Contracts.ViewModels.TeamPreviewViewModel>

<table class="table">
    <tr>
        <th style="width: 24%">
            @Html.DisplayName("Nazwa drużyny")
        </th>
        <th style="width: 23%">
            @Html.DisplayName("Trener")
        </th>
        <th style="width: 23%">
            @Html.DisplayName("Status")
        </th>
        <th style="width: 30%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Format("{0} {1}", item.CoachFirstName, item.CoachLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style="text-align: right; padding-right: 30px">
                @Html.ActionLink("Przegląd", "Team", "Review", new { teamId = item.Id }, null) |
                @Html.ActionLink("Zawodnicy", "Players", new { teamId = item.Id }) |
                @Html.ActionLink("Terminarz", "TeamCalendar", "League", new { teamId = item.Id }, null) |
                @Html.ActionLink("Liga", "League", new { teamId = item.Id })
            </td>
        </tr>
    }

</table>
