<ul class="nav navbar-nav">
    <li style="width: 179px; text-align: center">@Html.ActionLink("Strona główna", "Index", "Home")</li>
    <li style="width: 179px; text-align: center">@Html.ActionLink("O stronie", "About", "Home")</li>
    <li style="width: 179px; text-align: center">@Html.ActionLink("Ligi", "Leagues", "Review")</li>
    <li style="width: 179px; text-align: center">@Html.ActionLink("Drużyny", "Teams", "Review")</li>
    <li style="width: 179px; text-align: center">@Html.ActionLink("Znajdź ligę", "FindLeague", "Review")</li>
    <li style="width: 179px; text-align: center">@Html.ActionLink("Znajdź drużynę", "FindTeam", "Review")</li>
</ul>
