@using VolleyballLeagueManagement.Common.Enums

<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        @if (User.IsInRole(Role.LeagueManager.ToString()))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzanie<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Stwórz", "Create", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Usuń", "Remove", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Aktualizuj adres", "UpdateSportsHall", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Aktualizuj informacje", "UpdateInformations", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Aktualizuj regulamin", "UpdateRegulations", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Aktualizuj zasady", "UpdateTableOrderRules", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Generuj kalendarz", "GenerateCalendar", "League")</li>
                </ul>
            </li>
        }
        @if (User.IsInRole(Role.LeagueManager.ToString()))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Liga<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Informacje", "Index", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Drużyny", "Teams", "LeagueManagement")</li>
                    <li>@Html.ActionLink("Tabela", "Table", "League")</li>
                    <li>@Html.ActionLink("Rozgrywki", "EditCalendar", "League")</li>
                </ul>
            </li>
        }
        @if (User.IsInRole(Role.TeamManager.ToString()))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moja drużyna<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Informacje", "Index", "TeamManagement")</li>
                    <li>@Html.ActionLink("Stwórz drużynę", "Create", "TeamManagement")</li>
                    <li>@Html.ActionLink("Usuń drużynę", "Remove", "TeamManagement")</li>
                    <li>@Html.ActionLink("Trener", "UpdateCoach", "TeamManagement")</li>
                    <li>@Html.ActionLink("Zarządzaj graczami", "PlayersManage", "TeamManagement")</li>
                    <li>@Html.ActionLink("Moja liga", "MyLeague", "TeamManagement")</li>
                    <li>@Html.ActionLink("Dołącz do ligi", "JoinLeague", "TeamManagement")</li>
                </ul>
            </li>
        }
    </ul>
</div>

<script>
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
