@model VolleyballLeagueManagement.Management.Contracts.ViewModels.TeamPreviewViewModel

<div>
    <h4>Przegląd drużyny</h4>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Trener
        </dt>

        <dd>
            @String.Format("{0} {1}", Model.CoachFirstName, Model.CoachLastName)
        </dd>
    </dl>
</div>

<div class="form-group" style="padding-left: 30px">
    @Html.ActionLink("Zawodnicy", "PlayersManage") |
    @Html.ActionLink("Liga", "MyLeague") |
    @Html.ActionLink("Trofea", "Index")
</div>
