@model VolleyballLeagueManagement.Management.Contracts.ViewModels.LeaguePreviewViewModel

<style>
    .dl-horizontal dt {
        width: 300px;
        padding-left: 30px;
        padding-right: 20px;
    }
</style>

@if (Model == null)
{
    <h4>Twoja drużyna jeszcze nie jest zapisana do żadnej ligi</h4>
}
else
{
    <div>
        <h4>Liga do której zapisana jest Twoja drużyna</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.LeagueId)

            <dt>
                Nazwa
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Miasto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                Liczba zaakceptowanych drużyn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedTeams)
            </dd>

            <dt>
                Limit drużyn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeamsLimit)
            </dd>

            <dt>
                Termin zapisów
            </dt>

            <dd>
                @Model.ApplicationDeadline.ToString("D")
            </dd>

            <dt>
                Data startu ligi
            </dt>

            <dd>
                @Model.StartTime.ToString("D")
            </dd>

            <dt>
                Dzień rozgrywania meczy
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Day)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Zobacz tabelę", "Table", "League", new { leagueId = Model.LeagueId }, null) |
        @Html.ActionLink("Najlepsi zawodnicy", "Index") |
        @Html.ActionLink("Terminarz", "Calendar", "League", new { leagueId = Model.LeagueId }, null) |
        @Html.ActionLink("Opuść ligę", "LeaveLeague", "TeamManagement")
    </p>
}
